body{
    margin : auto;
    margin-bottom: 40px;
    max-width : 1000px;
    border : 1px solid #607D8B;
    border-radius: 10px 10px 0 0;
    height: 110%;
}


.blocmenu {
    width: 80%;
    height:100%;
    img {
        width: 15vw;
    }
}