.footer__index {
    max-width : 1000px;
    width: 100%;
    margin-left: -1px; // J'en ai besoin pour aligner le footer avec le bloc page...
    position: fixed;
    bottom:0;
    color : $color-text;
    background-color : $color-main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: larger;
    border : 1px solid #607D8B;
    border-top: 0px;
}

.mention {
    margin-left: 2em;
}
