.footer__index {
    width: 100%;
    position: fixed;
    bottom:0;
    color : $color-text;
    background-color : $color-main;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: larger;
}

.mention {
    margin-left: 20px;
}

.contact {
    margin-right: 20px;
}
