.header__index {
    color : $color-text;
    background-color : $color-main;
    height : 120px;
    display : flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: $font-size * 2.5;
    font-family: 'amble', Arial, sans-serif;
    letter-spacing: -7px;
}
