header {
    color : $color-text;
    background-color : $color-main;
    height : 120px;
    display : flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: $font-size * 3;
    font-family: 'amble-bold', Arial, sans-serif;
    letter-spacing: -6px;
}
