@media all and (max-width:1250px) {

    // Travail sur l'index
    h1 {
        font-size: 30px;
    }

    .btn__index {
        border: 6px solid $color-main;
    }

    // Travail sur mentions légales
    .loremipsum {
        margin-top: 0px;
        & span {
            font-size : 15px;
        }
    }

    // Travail sur les menus
    
    h3 {        // Ce sont les titres au dessus des menus
        font-size : 20px;
    }

    .foodprice {
        font-size: 22px;
        p {     // Reduction des interlignes dans les menus
            margin-top : 7px;
            margin-bottom: 5px;
        }
    }

    .subtitle__menu {
        &--ne {
            h4 {
            font-size: 25px;
            }
            img {
                width : 22%;
                height : 8px;
            }
        }
        &--cf {
            h4 {
                font-size: 18px;
                }
            img {
                width : 22%;
                height : 8px;
            }
        }
        &--dp {
            h4 {
                font-size: 21px;
                }
            img {
                width : 18%;
                height : 8px;
            }
        }
        &--pg {
            h4 {
                font-size: 23px;
                }
            img {
                width : 22%;
                height : 8px;
            }
        }
    }

    .title__menu--ne, .end__menu--ne {
        h1 {
            font-size : 40px;
        }
    }

}