.article__chic--francaise {
    @include article;
}


.menu__chic--francaise {
    background-color:$bgcolor--cf;
    font-family: 'Aver', Arial, sans-serif;
    @include menu;
}

.title__menu--cf {
    background-color: $bgcolor--cf;
    background: linear-gradient(to right, rgb(199, 116, 18), rgb(152, 101, 251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Junicode', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom : 40px;
    margin-top: 20px;
    @include title;
}

.subtitle__menu--cf {
    @include subtitle;
    font-size: 18px;
    text-align: center;
    & h4 {
        font-size: larger;
        position: relative;
    }
}

.color1 {
    color: rgb(198, 116, 18);
    & h4 {
        font-size: larger;
        position: relative;
        &::after {
            @include underline;
            background: rgb(198, 116, 18);}
        &:hover {
            &::after{
                transform: scaleX(1);}
        }
    }
}

.color2 {
    color: rgb(165, 103, 153);
    & h4 {
        font-size: larger;
        position: relative;
        &::after {
            @include underline;
            background: rgb(165, 103, 153);}
        &:hover {
            &::after{
                transform: scaleX(1);}
        }
    }
}

.color3 {
    color: rgb(110, 76, 204);
    & h4 {
        font-size: larger;
        position: relative;
        &::after {
            @include underline;
            background: rgb(110, 76, 204);}
        &:hover {
            &::after{
                transform: scaleX(1);}
        }
    }
}

.food--cf {
    @include pagesetting;
    font-size: 18px;
}

.price--cf {
    @include pagesetting2;
    font-size: 18px;
}