.article__chic--francaise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}


.menu__chic--francaise {
    background-color:$bgcolor--cf;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 50px 0px;
    box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.15);
}

.title__menu--cf {
    background-color: $bgcolor--cf;
    background: linear-gradient(to right, rgb(199, 116, 18), rgb(152, 101, 251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Junicode', Arial, sans-serif;
    font-size: xxx-large;
    margin-bottom : 40px;
    margin-top: 20px;
}

.subtitle__menu--cf {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: initial;
    & h4 {
        font-size: 25px;
    }
}

.food--cf {
    @include pagesetting;
    font-size: 18px;
}

.price--cf {
    @include pagesetting;
    font-size: 18px;
}

.color1 {
    color: rgb(198, 116, 18);
    line-height: 2;
}

.color2 {
    color: rgb(165, 103, 153);
    line-height: 2;
}

.color3 {
    color: rgb(110, 76, 204);
    line-height: 2;
}