.article__delice--papilles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.menu__delice--papilles {
    background-color: $bgcolor--dp;
    color: black;
    font-family: 'caveat', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 50px 0px;
    box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.15);
}

.title__menu--dp {
    background-color: $bgcolor--dp;
    background: linear-gradient(to right, rgb(4, 49, 223), rgb(8, 135, 251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family : 'aguafina', Arial, sans-serif;
    font-size: xx-large;
}

.subtitle__menu--dp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.food--dp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price--dp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}