.article__delice--papilles {
    @include article;
}

.menu__delice--papilles {
    background-color: $bgcolor--dp;
    color: black;
    font-family: 'caveat', Arial, sans-serif;
    @include menu;
}

.title__menu--dp {
    background-color: $bgcolor--dp;
    background: linear-gradient(to right, rgb(4, 49, 223), rgb(8, 135, 251));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family : 'aguafina', Arial, sans-serif;
    font-size: 70px;
    width : 110%;
    margin : 20px 0px;
    @include title;
}

.subtitle__menu--dp {
    @include subtitle;
    text-align: center;
    &--2 {
        & img{
        opacity: 80%;
        }
    }

    &--3 {
        & img {
        opacity: 60%;
        }
    }
    & h4 {
        margin: 20px 20px;
        position: relative;
        &::after {
            @include underline;
            background: rgb(4, 49, 223);
        }
    
        &:hover {
            &::after{
                transform: scaleX(1);
            }
        }
    } 
}

.price--dp {
    @include pagesetting2;
}