.index {
    padding : 30px 0px;
    overflow: hidden;    
    max-width : 1100px;
}

.contact {
    position: relative;
    right : 60px;
}

.menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}