.article__note--enchantee {
    @include article;
}

.menu__note--enchantee {
    background-color: $bgcolor--ne;
    color: rgb(61, 19, 25);
    font-family: 'caveat', Arial, sans-serif;
    @include menu;
}

.title__menu--ne{
    background-color: $bgcolor--ne;
    color: rgb(61, 19, 25);
    font-family: 'devonshire', Arial, sans-serif;
    @include title;
    font-size : 45px;
    margin-bottom: 20px;
}

.subtitle__menu--ne {
    @include subtitle;
    width: 100%;
    & h4 {
        text-align: center;
        margin: 20px 20px;
        font-weight: bolder;
        font-size: 40px;
        position: relative;
        &::after {
            @include underline;
            background: rgb(61, 19, 25);
        }
    
        &:hover {
            &::after{
                transform: scaleX(1.05);
            }
        }
    }
}

.food--ne {
    @include pagesetting;
}

.price--ne {
    @include pagesetting2;
    font-weight: bold;
}

.end__menu--ne {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: 'devonshire', Arial, sans-serif;
    & img {
        width: 60px;
        height: 60px;
        position: relative;
        top : 18px;
    }
}

.foodprice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 29px;
}
