.article__palette--gout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.menu__palette--gout {
    background-color: $bgcolor--pg;
    color: black;
    font-family: 'caveat', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 50px 0px;
    box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.15);
}

.title__menu--pg {
    background-color: $bgcolor--pg;
    background: linear-gradient(to right, rgb(117, 192, 90), rgb(191, 255, 126));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family : 'aguafina', Arial, sans-serif;
    font-size: 5vw;
    width : 110%;
    margin : 20px 0px;
}

.subtitle__menu--pg {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.food--pg {
    @include pagesetting;
}

.price--pg {
    @include pagesetting2;
}

.foodprice--2 {
    width: 90%;
    margin-left: 5%;
}