.article__palette--gout {
    @include article;
}

.menu__palette--gout {
    background-color: $bgcolor--pg;
    color: black;
    font-family: 'caveat', Arial, sans-serif;
    @include menu;
}

.title__menu--pg {
    background-color: $bgcolor--pg;
    background: linear-gradient(to right, rgb(117, 192, 90), rgb(191, 255, 126));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family : 'aguafina', Arial, sans-serif;
    font-size: 70px;
    width : 110%;
    margin : 20px 0px;
    @include title;
}

.subtitle__menu--pg {
    @include subtitle;
    text-align: center;
    & h4 {
        margin: 20px 20px;
        position: relative;
        &::after {
            @include underline;
            background: rgb(117, 192, 90);
        }
    
        &:hover {
            &::after{
                transform: scaleX(1);
            }
        }
    } 
}

.food--pg {
    @include pagesetting;
}

.price--pg {
    @include pagesetting2;
}

.foodprice--2 {
    width: 90%;
    margin-left: 5%;
}