$color-text : rgba(252, 203, 71, 1);
$color-main : rgba(86, 156, 135, 1);
$num-circles : 3;
$anim-dur : 500ms;
$anim-delay : $anim-dur / $num-circles;
$font-size: 30px;

$bgcolor--ne: rgb(252, 223, 219);
$bgcolor--cf: rgb(255, 245, 254);
$bgcolor--dp: rgb(238, 240, 239);
$bgcolor--pg: rgb(253, 255, 253);