$color-text : rgba(252, 203, 71, 1);
$color-main : rgba(86, 156, 135, 1);
$num-circles : 3;
$anim-dur : 600ms;
$anim-delay : $anim-dur / $num-circles;
$width-circles : 1vh;
$height-circles: $width-circles*1.1;
$font-size: 3vh;