// Travail sur les différents boutons

.btn {
    display: flex;
    align-items: center;

    // Travail sur le bouton de l'index

    &__index{
        color : $color-text;
        background-color : $color-main;
        align-self: center;
        font-weight: 700;
        font-size: $font-size;
        border-radius: 15px;
        border : 2px solid $color-main;
        margin-top: 40px;
        height : 40px;
        display : flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 10px 5px 15px;
        box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.15);
        &:hover {
        //----- On met la main quand on passe sur le bouton -----
            cursor : pointer;
            // ---------- Anmiation sur les ... -------------
            .load__circles {
                animation: circles $anim-dur backwards ease-in-out infinite alternate;
                animation-timing-function: cubic-bezier(.15,-0.14,.4,1.1);
                @for $i from 1 through $num-circles {
                    &--#{$i} {
                        animation-delay: $anim-delay * $i;
                    }
                }
            }
        }
    }

    &__footer {
        transform: translateY(0);
        &:hover{
            animation : wriggle $anim-dur backwards ease-in;
        }

    }
}
