ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding : 0px;
}

li {
    width : 475px;
    height : 700px;
    margin : 0 2em 4em 2em;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px grey;
    &:hover{
        .img__index{
            transform: scale(1.2);
            opacity: 75%;
        }
    }
}