// Création des 3 petits points

.load{
    width : 40px;
    display: flex;
    justify-content: space-evenly;
    &__circles {
        transform: translateY(7px);
        position: relative;
        border-radius: 7px;
        background-color: $color-text;
        width: 6px;
        height: 6px;
    }
}