// Création des 3 petits points

.load{
    width : 5.5vh ;
    height : $height_circles * 2;
    display: flex;
    justify-content: space-evenly;
    &__circles {
        transform: translateY(0.4em);
        position: relative;
        border-radius: 10px;
        background-color: $color-text;
        width: $width-circles;
        height: $height-circles;
    }
}