@keyframes circles {
    0% {
        transform: translateY(7px);
    }
    100% {
        transform: translateY(-7px);
    }
}

@keyframes wriggle {
    22% {
        transform: translateX(-0.4em);
    }
    44% {
        transform: translateX(0.4em);
    }
    66% {
        transform: translateX(-0.4em);
    }
    88% {
        transform: translateX(0.4em);
    }
}

@keyframes underline {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}