@keyframes circles {
    0% {
        transform: translateY(0.4em);
    }
    100% {
        transform: translateY(-0.37em);
    }
}

@keyframes img__index {
    0% {
        transform : scale(1);
        opacity: 100%;
    }
    100%{
        transform : scale(1.2);
        opacity: 75%;
    }
}