@keyframes circles {
    0% {
        transform: translateY(0.4em);
    }
    100% {
        transform: translateY(-0.37em);
    }
}

/* ------------ Pas utilisé car passé à transform pour alternate ----------
@keyframes img__index {
    0% {
        transform : scale(1);
        opacity: 100%;
    }
    100%{
        transform : scale(1.2);
        opacity: 75%;
    }
}
animation : img__index $anim-dur ease-in-out forwards alternate;
 */