@font-face {                    /* Définition d'une nouvelle police nommée rubik-regular */
    font-family: 'amble-bold';
    src : url('amble-bold.eot');
    src : url('amble-bold.eot?#iefix') format('embedded-opentype'),
          url('amble-bold.woff') format('woff'),
          url('amble-bold.ttf') format('truetype'),
          url('amble-bold#amble-bold') format('svg');
}

a {
    text-decoration : none;
    color : $color-text;
}

h3 {
    color : black;
    font-weight : 600;
    font-size: 1.5vh;
    font-family: 'amble-bold', Arial, sans-serif;
}

p {
    color: $color-text;
    font-family: 'amble-bold', Arial, sans-serif;
}