@font-face {     
            /* Définition d'une nouvelle police nommée amble-bold */
    font-family: 'amble';
    src:url('./base/fonts/Amble-Regular.eot') format('embedded-opentype');
    src:url('./base/fonts/Amble-Regular.eot?#iefix') format('embedded-opentype'),
        url('./base/fonts/Amble-Regular.woff') format('woff'),
        url('./base/fonts/Amble-Regular.ttf') format('truetype'),
        url('./base/fonts/Amble-Regular.svg#amblebold') format('svg');
}

@font-face { 
            /* Définition d'une nouvelle police nommée devonshire */
    font-family: 'devonshire';
    src:url('./base/fonts/Devonshire-Regular.woff') format('woff');
    src:url('./base/fonts/Devonshire-Regular.eot') format('embedded-opentype'),
        url('./base/fonts/Devonshire-Regular.ttf')  format('truetype'), 
        url('./base/fonts/Devonshire-Regular.svg#Devonshire-Regular') format('svg');
}

@font-face {
            /* Définition d'une nouvelle police nommée caveat */
    font-family: 'Caveat';
    src: url('./base/fonts/Caveat-Regular.eot');
    src: url('./base/fonts/Caveat-Regular.eot?#iefix') format('embedded-opentype'),
        url('./base/fonts/Caveat-Regular.woff2') format('woff2'),
        url('./base/fonts/Caveat-Regular.woff') format('woff'),
        url('./base/fonts/Caveat-Regular.ttf') format('truetype'),
        url('./base/fonts/Caveat-Regular.svg#Caveat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Junicode';
    src: url('./base/fonts/Junicode.eot');
    src: url('./base/fonts/Junicode.eot?#iefix') format('embedded-opentype'),
        url('./base/fonts/Junicode.woff2') format('woff2'),
        url('./base/fonts/Junicode.woff') format('woff'),
        url('./base/fonts/Junicode.ttf') format('truetype'),
        url('./base/fonts/Junicode.svg#Junicode') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aguafina';
    src: url('./base/fonts/AguafinaScript-Regular.eot');
    src: url('./base/fonts/AguafinaScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('./base/fonts/AguafinaScript-Regular.woff2') format('woff2'),
        url('./base/fonts/AguafinaScript-Regular.woff') format('woff'),
        url('./base/fonts/AguafinaScript-Regular.ttf') format('truetype'),
        url('./base/fonts/AguafinaScript-Regular.svg#AguafinaScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kaushan';
    src: url('./base/fonts/KaushanScript-Regular.eot');
    src: url('./base/fonts/KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('./base/fonts/KaushanScript-Regular.woff2') format('woff2'),
        url('./base/fonts/KaushanScript-Regular.woff') format('woff'),
        url('./base/fonts/KaushanScript-Regular.ttf') format('truetype'),
        url('./base/fonts/KaushanScript-Regular.svg#KaushanScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


a {
    text-decoration : none;
    color : $color-text;
}

h1 {
    margin-top: 0px;;
}

h3 {
    color : black;
    font-weight : 600;
    font-size: 50px;
    font-family: 'amble', Arial, sans-serif;
}

.btn {
    &__index{
        color: $color-text;
        font-family: 'amble', Arial, sans-serif;
    }
    &__footer{
        color: $color-text;
        font-family: 'amble', Arial, sans-serif;
    }
}

.restaurant{
    &__note--enchantee {
        margin: 0;
        font-family: 'devonshire', Arial, sans-serif;
        &__menu{
            font-family: 'caveat', Arial, sans-serif;
            font-weight: bold;
        }
    }
    &__chic--francaise{
        font-family: 'Junicode', Arial, sans-serif;
        font-size: smaller;
        &__menu{
            font-weight: bolder;
            font-size: larger;
            margin-top: 0px;
        }
    }
    &__delice--papilles{
        font-family : 'aguafina', Arial, sans-serif;
        &__menu{
            font-family: 'caveat', Arial, sans-serif;
            margin-top: 0px;
        }
    }
    &__palette--gout{
        font-family : 'Kaushan', Arial, sans-serif;
        &__menu{
            font-family: 'caveat', Arial, sans-serif;
            margin-top: 0px;
        }
    }
}