@charset "UTF-8";
@keyframes circles {
  0% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(-7px);
  }
}
@keyframes wriggle {
  22% {
    transform: translateX(-0.4em);
  }
  44% {
    transform: translateX(0.4em);
  }
  66% {
    transform: translateX(-0.4em);
  }
  88% {
    transform: translateX(0.4em);
  }
}
@keyframes underline {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1);
  }
}
@font-face {
  /* Définition d'une nouvelle police nommée amble-bold */
  font-family: "amble";
  src: url("./base/fonts/Amble-Regular.eot") format("embedded-opentype");
  src: url("./base/fonts/Amble-Regular.eot?#iefix") format("embedded-opentype"), url("./base/fonts/Amble-Regular.woff") format("woff"), url("./base/fonts/Amble-Regular.ttf") format("truetype"), url("./base/fonts/Amble-Regular.svg#amblebold") format("svg");
}
@font-face {
  /* Définition d'une nouvelle police nommée devonshire */
  font-family: "devonshire";
  src: url("./base/fonts/Devonshire-Regular.woff") format("woff");
  src: url("./base/fonts/Devonshire-Regular.eot") format("embedded-opentype"), url("./base/fonts/Devonshire-Regular.ttf") format("truetype"), url("./base/fonts/Devonshire-Regular.svg#Devonshire-Regular") format("svg");
}
@font-face {
  /* Définition d'une nouvelle police nommée caveat */
  font-family: "Caveat";
  src: url("./base/fonts/Caveat-Regular.eot");
  src: url("./base/fonts/Caveat-Regular.eot?#iefix") format("embedded-opentype"), url("./base/fonts/Caveat-Regular.woff2") format("woff2"), url("./base/fonts/Caveat-Regular.woff") format("woff"), url("./base/fonts/Caveat-Regular.ttf") format("truetype"), url("./base/fonts/Caveat-Regular.svg#Caveat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Junicode";
  src: url("./base/fonts/Junicode.eot");
  src: url("./base/fonts/Junicode.eot?#iefix") format("embedded-opentype"), url("./base/fonts/Junicode.woff2") format("woff2"), url("./base/fonts/Junicode.woff") format("woff"), url("./base/fonts/Junicode.ttf") format("truetype"), url("./base/fonts/Junicode.svg#Junicode") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aguafina";
  src: url("./base/fonts/AguafinaScript-Regular.eot");
  src: url("./base/fonts/AguafinaScript-Regular.eot?#iefix") format("embedded-opentype"), url("./base/fonts/AguafinaScript-Regular.woff2") format("woff2"), url("./base/fonts/AguafinaScript-Regular.woff") format("woff"), url("./base/fonts/AguafinaScript-Regular.ttf") format("truetype"), url("./base/fonts/AguafinaScript-Regular.svg#AguafinaScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kaushan";
  src: url("./base/fonts/KaushanScript-Regular.eot");
  src: url("./base/fonts/KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("./base/fonts/KaushanScript-Regular.woff2") format("woff2"), url("./base/fonts/KaushanScript-Regular.woff") format("woff"), url("./base/fonts/KaushanScript-Regular.ttf") format("truetype"), url("./base/fonts/KaushanScript-Regular.svg#KaushanScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aver";
  src: url("./base/fonts/Aver.eot");
  src: url("./base/fonts/Aver.eot?#iefix") format("embedded-opentype"), url("./base/fonts/Aver.woff2") format("woff2"), url("./base/fonts/Aver.woff") format("woff"), url("./base/fonts/Aver.ttf") format("truetype"), url("./base/fonts/Aver.svg#Aver") format("svg");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  color: #fccb47;
}

h1 {
  margin: 0px;
}

h3 {
  color: black;
  font-weight: 600;
  font-size: 50px;
  font-family: "amble", Arial, sans-serif;
}

p {
  margin: 15px 0 15px 0;
}

.btn__index {
  color: #fccb47;
  font-family: "amble", Arial, sans-serif;
}
.btn__footer {
  color: #fccb47;
  font-family: "amble", Arial, sans-serif;
}

.restaurant__note--enchantee {
  margin: 0;
  font-family: "devonshire", Arial, sans-serif;
}
.restaurant__note--enchantee__menu {
  font-family: "caveat", Arial, sans-serif;
  font-weight: bold;
}
.restaurant__chic--francaise {
  font-family: "Junicode", Arial, sans-serif;
  font-size: smaller;
}
.restaurant__chic--francaise__menu {
  font-weight: bolder;
  font-size: larger;
  margin-top: 0px;
}
.restaurant__delice--papilles {
  font-family: "aguafina", Arial, sans-serif;
}
.restaurant__delice--papilles__menu {
  font-family: "caveat", Arial, sans-serif;
  margin-top: 0px;
}
.restaurant__palette--gout {
  font-family: "Kaushan", Arial, sans-serif;
}
.restaurant__palette--gout__menu {
  font-family: "caveat", Arial, sans-serif;
  margin-top: 0px;
}

.btn {
  display: flex;
  align-items: center;
}
.btn__index {
  color: #fccb47;
  background-color: #569c87;
  align-self: center;
  font-weight: 700;
  font-size: 30px;
  border-radius: 15px;
  border: 10px solid #569c87;
  margin-bottom: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px 5px 15px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.15);
}
.btn__index:hover {
  cursor: pointer;
}
.btn__index:hover .load__circles {
  animation: circles 500ms backwards ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(0.15, -0.14, 0.4, 1.1);
}
.btn__index:hover .load__circles--1 {
  animation-delay: 166.6666666667ms;
}
.btn__index:hover .load__circles--2 {
  animation-delay: 333.3333333333ms;
}
.btn__index:hover .load__circles--3 {
  animation-delay: 500ms;
}
.btn__footer {
  transform: translateY(0);
}
.btn__footer:hover {
  animation: wriggle 500ms backwards ease-in;
}

ul {
  list-style-type: none;
  padding: 0px;
  line-height: 25px;
  margin: 0 0 40px 0;
}
ul img {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
}

.list__restau {
  width: 340px;
  height: 500px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.15);
  margin: 15px 20px 20px 20px;
  overflow: hidden;
}
.list__restau:hover .restaurant {
  transform: scale(1.4);
  opacity: 75%;
}

.load {
  width: 40px;
  display: flex;
  justify-content: space-evenly;
}
.load__circles {
  transform: translateY(7px);
  position: relative;
  border-radius: 7px;
  background-color: #fccb47;
  width: 6px;
  height: 6px;
}

.restaurant {
  height: 100%;
  transform: scale(1);
  transition-duration: 500ms;
  opacity: 100%;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.restaurant__chic--francaise {
  background: linear-gradient(to right, #c77412, #9865fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: initial;
}
.restaurant__chic--francaise__menu {
  color: #c77412;
}
.restaurant__delice--papilles {
  background: linear-gradient(to right, #0431df, #0887fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: initial;
}
.restaurant__delice--papilles__menu {
  color: #0887fb;
}
.restaurant__palette--gout {
  background: linear-gradient(to right, #75c05a, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: initial;
}
.restaurant__palette--gout__menu {
  color: #75c05a;
}

.note--enchantee {
  background-color: #fcdfdb;
  color: #3d1319;
}

.chic--francaise {
  background-color: #fff5fe;
}

.delice--papilles {
  background-color: #eef0ef;
}

.palette--gout {
  background-color: #fdfffd;
}

.index {
  padding: 30px 0px;
  overflow: hidden;
  max-width: 1100px;
}

.contact {
  position: relative;
  right: 60px;
}

.menus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.article__note--enchantee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
  max-width: 1300px;
}

.menu__note--enchantee {
  background-color: #fcdfdb;
  color: #3d1319;
  font-family: "caveat", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  padding: 50px 0px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.15);
}

.title__menu--ne {
  background-color: #fcdfdb;
  color: #3d1319;
  font-family: "devonshire", Arial, sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 45px;
  margin-bottom: 20px;
}

.subtitle__menu--ne {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.subtitle__menu--ne img {
  width: 30%;
  height: 10px;
}
.subtitle__menu--ne h4 {
  text-align: center;
  margin: 20px 20px;
  font-weight: bolder;
  font-size: 40px;
  position: relative;
}
.subtitle__menu--ne h4::after {
  content: "";
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  transition: transform 350ms;
  background: #3d1319;
}
.subtitle__menu--ne h4:hover::after {
  transform: scaleX(1.05);
}

.food--ne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price--ne {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
  font-weight: bold;
}

.end__menu--ne {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: "devonshire", Arial, sans-serif;
}
.end__menu--ne img {
  width: 60px;
  height: 60px;
  position: relative;
  top: 18px;
}

.foodprice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 29px;
}

.article__chic--francaise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
  max-width: 1300px;
}

.menu__chic--francaise {
  background-color: #fff5fe;
  font-family: "Aver", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  padding: 50px 0px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.15);
}

.title__menu--cf {
  background-color: #fff5fe;
  background: linear-gradient(to right, #c77412, #9865fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Junicode", Arial, sans-serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.subtitle__menu--cf {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  text-align: center;
}
.subtitle__menu--cf img {
  width: 30%;
  height: 10px;
}
.subtitle__menu--cf h4 {
  font-size: larger;
  position: relative;
}

.color1 {
  color: #c67412;
}
.color1 h4 {
  font-size: larger;
  position: relative;
}
.color1 h4::after {
  content: "";
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  transition: transform 350ms;
  background: #c67412;
}
.color1 h4:hover::after {
  transform: scaleX(1);
}

.color2 {
  color: #a56799;
}
.color2 h4 {
  font-size: larger;
  position: relative;
}
.color2 h4::after {
  content: "";
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  transition: transform 350ms;
  background: #a56799;
}
.color2 h4:hover::after {
  transform: scaleX(1);
}

.color3 {
  color: #6e4ccc;
}
.color3 h4 {
  font-size: larger;
  position: relative;
}
.color3 h4::after {
  content: "";
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  transition: transform 350ms;
  background: #6e4ccc;
}
.color3 h4:hover::after {
  transform: scaleX(1);
}

.food--cf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}

.price--cf {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
  font-size: 18px;
}

.article__palette--gout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
  max-width: 1300px;
}

.menu__palette--gout {
  background-color: #fdfffd;
  color: black;
  font-family: "caveat", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  padding: 50px 0px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.15);
}

.title__menu--pg {
  background-color: #fdfffd;
  background: linear-gradient(to right, #75c05a, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "aguafina", Arial, sans-serif;
  font-size: 70px;
  width: 110%;
  margin: 20px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.subtitle__menu--pg {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.subtitle__menu--pg img {
  width: 30%;
  height: 10px;
}
.subtitle__menu--pg h4 {
  margin: 20px 20px;
  position: relative;
}
.subtitle__menu--pg h4::after {
  content: "";
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  transition: transform 350ms;
  background: #75c05a;
}
.subtitle__menu--pg h4:hover::after {
  transform: scaleX(1);
}

.food--pg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price--pg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
}

.foodprice--2 {
  width: 90%;
  margin-left: 5%;
}

.article__delice--papilles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
  max-width: 1300px;
}

.menu__delice--papilles {
  background-color: #eef0ef;
  color: black;
  font-family: "caveat", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  padding: 50px 0px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.15);
}

.title__menu--dp {
  background-color: #eef0ef;
  background: linear-gradient(to right, #0431df, #0887fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "aguafina", Arial, sans-serif;
  font-size: 70px;
  width: 110%;
  margin: 20px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.subtitle__menu--dp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.subtitle__menu--dp img {
  width: 30%;
  height: 10px;
}
.subtitle__menu--dp--2 img {
  opacity: 80%;
}
.subtitle__menu--dp--3 img {
  opacity: 60%;
}
.subtitle__menu--dp h4 {
  margin: 20px 20px;
  position: relative;
}
.subtitle__menu--dp h4::after {
  content: "";
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  transition: transform 350ms;
  background: #0431df;
}
.subtitle__menu--dp h4:hover::after {
  transform: scaleX(1);
}

.food--dp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price--dp {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
}

.blocpage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
}

.loremipsum {
  width: 80%;
  text-align: justify;
  font-family: Arial, sans-serif;
  color: #569c87;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 40px;
}

.footer__index {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #fccb47;
  background-color: #569c87;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: larger;
}

.mention {
  margin-left: 2em;
}

.header__index {
  color: #fccb47;
  background-color: #569c87;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 75px;
  font-family: "amble", Arial, sans-serif;
  letter-spacing: -7px;
}

article {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: xx-large;
}

body {
  margin: auto;
  margin-bottom: 40px;
  height: 110%;
}

.blocmenu {
  width: 80%;
  height: 100%;
}

@media all and (max-width: 1250px) {
  h1 {
    font-size: 30px;
  }

  .btn__index {
    border: 6px solid #569c87;
  }

  .loremipsum {
    margin-top: 0px;
  }
  .loremipsum span {
    font-size: 15px;
  }

  h3 {
    font-size: 20px;
  }

  .foodprice {
    font-size: 22px;
  }
  .foodprice p {
    margin-top: 7px;
    margin-bottom: 5px;
  }

  .subtitle__menu--ne h4 {
    font-size: 25px;
  }
  .subtitle__menu--ne img {
    width: 22%;
    height: 8px;
  }
  .subtitle__menu--cf h4 {
    font-size: 18px;
  }
  .subtitle__menu--cf img {
    width: 22%;
    height: 8px;
  }
  .subtitle__menu--dp h4 {
    font-size: 21px;
  }
  .subtitle__menu--dp img {
    width: 18%;
    height: 8px;
  }
  .subtitle__menu--pg h4 {
    font-size: 23px;
  }
  .subtitle__menu--pg img {
    width: 22%;
    height: 8px;
  }

  .title__menu--ne h1, .end__menu--ne h1 {
    font-size: 40px;
  }
}
@media all and (max-device-width: 480px) {
  .list__restau {
    width: 400px;
    height: 580px;
  }

  h3 {
    font-size: 35px;
  }

  .title__menu--ne h1, .end__menu--ne h1 {
    font-size: 55px;
  }

  .title__menu--dp h1, .title__menu--pg h1, .title__menu--cf h1 {
    font-size: 75px;
  }

  .btn__index {
    margin-top: 50px;
  }

  .foodprice {
    font-size: 35px;
  }
  .foodprice p {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .foodprice--2 {
    font-size: 45px;
  }
  .foodprice .food--pg, .foodprice .price--pg, .foodprice .food--dp, .foodprice .price--dp {
    line-height: 1;
    font-size: 40px;
  }

  .food--cf, .price--cf {
    font-size: 30px;
  }

  .subtitle__menu--ne h4 {
    font-size: 45px;
  }
  .subtitle__menu--ne img {
    width: 22%;
    height: 8px;
  }
  .subtitle__menu--cf h4 {
    font-size: 30px;
    font-weight: bold;
  }
  .subtitle__menu--cf img {
    width: 22%;
    height: 8px;
  }
  .subtitle__menu--dp h4 {
    font-size: 45px;
  }
  .subtitle__menu--dp img {
    width: 18%;
    height: 8px;
  }
  .subtitle__menu--pg h4 {
    font-size: 45px;
  }
  .subtitle__menu--pg img {
    width: 22%;
    height: 8px;
  }

  .mention, .contact {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .loremipsum span {
    font-size: 35px;
  }

  .mobile {
    margin-bottom: 80px;
  }

  .non-mobile {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
