@charset "UTF-8";
@keyframes circles {
  0% {
    transform: translateY(0.4em);
  }
  100% {
    transform: translateY(-0.37em);
  }
}
@keyframes wriggle {
  22% {
    transform: translateX(-0.4em);
  }
  44% {
    transform: translateX(0.4em);
  }
  66% {
    transform: translateX(-0.4em);
  }
  88% {
    transform: translateX(0.4em);
  }
}
@font-face {
  /* Définition d'une nouvelle police nommée rubik-regular */
  font-family: "amble-bold";
  src: url("amble-bold.eot");
  src: url("amble-bold.eot?#iefix") format("embedded-opentype"), url("amble-bold.woff") format("woff"), url("amble-bold.ttf") format("truetype"), url("amble-bold#amble-bold") format("svg");
}
a {
  text-decoration: none;
  color: #fccb47;
}

h3 {
  color: black;
  font-weight: 600;
  font-size: 1.5vh;
  font-family: "amble-bold", Arial, sans-serif;
}

p {
  color: #fccb47;
  font-family: "amble-bold", Arial, sans-serif;
}

.btn {
  display: flex;
  align-items: center;
}
.btn__index {
  color: #fccb47;
  background-color: #569c87;
  font-weight: 700;
  font-size: 3vh;
  border-radius: 15px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px 5px 15px;
  box-shadow: 3px 3px 3px 3px grey;
}
.btn__index:hover {
  cursor: pointer;
}
.btn__index:hover .load__circles {
  animation: circles 500ms backwards ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(0.15, -0.14, 0.4, 1.1);
}
.btn__index:hover .load__circles--1 {
  animation-delay: 166.6666666667ms;
}
.btn__index:hover .load__circles--2 {
  animation-delay: 333.3333333333ms;
}
.btn__index:hover .load__circles--3 {
  animation-delay: 500ms;
}
.btn__footer:hover {
  animation: wriggle 500ms backwards ease-in;
}

img {
  width: 475px;
  height: 700px;
  transform: scale(1);
  transition-duration: 500ms;
  opacity: 100%;
  box-shadow: 5px 5px 5px 5px grey;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
}

li {
  width: 475px;
  height: 700px;
  margin: 0 2em 4em 2em;
  overflow: hidden;
  box-shadow: 5px 5px 5px 5px grey;
}
li:hover .img__index {
  transform: scale(1.2);
  opacity: 75%;
}

.load {
  width: 5.5vh;
  height: 2.2vh;
  display: flex;
  justify-content: space-evenly;
}
.load__circles {
  transform: translateY(0.4em);
  position: relative;
  border-radius: 10px;
  background-color: #fccb47;
  width: 1vh;
  height: 1.1vh;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fccb47;
  background-color: #569c87;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: larger;
}

.mention {
  margin-left: 2em;
}

header {
  color: #fccb47;
  background-color: #569c87;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 9vh;
  font-family: "amble-bold", Arial, sans-serif;
  letter-spacing: -6px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/*body{

    max-width : 1080px;
    margin: auto;
}*/
body {
  margin: 0 0 60px 0;
}

/*.menus {
    padding : 0 100px;
}*/
.index {
  padding: 50px 150px;
  overflow: hidden;
}

.contact {
  position: relative;
  right: 60px;
}

/*# sourceMappingURL=style.css.map */
